In [1]:
import findspark
findspark.init('/home/murali/spark-3.3.2-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DateFuncion').getOrCreate()

23/04/04 15:42:13 WARN Utils: Your hostname, murali-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/04/04 15:42:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/04 15:42:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/04 15:42:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.range(5)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [18]:
#datetype yyyy-mm-dd

from pyspark.sql.functions import current_date, date_format
df1 = df.withColumn('currentDate',current_date())

In [19]:
df1.show()

+---+-----------+
| id|currentDate|
+---+-----------+
|  0| 2023-04-04|
|  1| 2023-04-04|
|  2| 2023-04-04|
|  3| 2023-04-04|
|  4| 2023-04-04|
+---+-----------+

In [20]:
df2 = df1.withColumn('currentDate',date_format(df1.currentDate,'yyyy/mm/dd'))

In [22]:
df2.show()
df2.printSchema()

+---+-----------+
| id|currentDate|
+---+-----------+
|  0| 2023/00/04|
|  1| 2023/00/04|
|  2| 2023/00/04|
|  3| 2023/00/04|
|  4| 2023/00/04|
+---+-----------+

root
 |-- id: long (nullable = false)
 |-- currentDate: string (nullable = false)

In [24]:
from pyspark.sql.functions import to_date
df3 = df2.withColumn('newDate',to_date('currentDate','yyyy/mm/dd'))
df3.show()
df3.printSchema()

+---+-----------+----------+
| id|currentDate|   newDate|
+---+-----------+----------+
|  0| 2023/00/04|2023-01-04|
|  1| 2023/00/04|2023-01-04|
|  2| 2023/00/04|2023-01-04|
|  3| 2023/00/04|2023-01-04|
|  4| 2023/00/04|2023-01-04|
+---+-----------+----------+

root
 |-- id: long (nullable = false)
 |-- currentDate: string (nullable = false)
 |-- newDate: date (nullable = true)

# datediff(), month_between(), add_months(), date_add(), year(), month()

In [45]:
from pyspark.sql.functions import datediff,months_between,add_months,date_add,year,month,last_day

In [34]:
df = spark.createDataFrame([('2015-06-14','2015-07-14')],['d1','d2'])

In [36]:
df.show()
df.printSchema()

+----------+----------+
|        d1|        d2|
+----------+----------+
|2015-06-14|2015-07-14|
+----------+----------+

root
 |-- d1: string (nullable = true)
 |-- d2: string (nullable = true)

In [47]:
df.withColumn('datediff',datediff(df.d2 , df.d1))\
.withColumn('monthsdiff', months_between(df.d2,df.d1))\
.withColumn('add3months', add_months(df.d2,3))\
.withColumn('lastDayOfMonth',last_day(df.d2))\
.show()

+----------+----------+--------+----------+----------+--------------+
|        d1|        d2|datediff|monthsdiff|add3months|lastDayOfMonth|
+----------+----------+--------+----------+----------+--------------+
|2015-06-14|2015-07-14|      30|       1.0|2015-10-14|    2015-07-31|
+----------+----------+--------+----------+----------+--------------+