In [1]:
import findspark

In [69]:
findspark.init('/home/murali/spark-3.3.2-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Joins').getOrCreate()

In [64]:
emp_path = '/home/murali/Desktop/data_files/emp.csv'

emp = spark.read.csv(emp_path,header=True, inferSchema=True)
emp.show()
emp.printSchema()

dept_path = '/home/murali/Desktop/data_files/dept.csv'
dept = spark.read.csv(dept_path,header=True, inferSchema=True)
dept.printSchema()

+-----+------+---------+----+-----------+----+----+------+
|EMPNO| ENAME|      JOB| MGR|   HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+-----------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-1980| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-1981|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-1981|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-1981|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-1981|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-1981|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-1981|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-1987|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-1981|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-1981|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-1987|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-1981| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-1981|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-1982|1300|null|    10|
+-----+------+---------+----+-----------+----+----+------+

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)

root
 |-- DEPTNO: integer (nullable = true)
 |-- DNAME: string (nullable = true)
 |-- LOCATION: string (nullable = true)

In [65]:
#emp = emp.filter(emp.DEPTNO == 10)
emp.show()
dept.show()

+-----+------+---------+----+-----------+----+----+------+
|EMPNO| ENAME|      JOB| MGR|   HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+-----------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-1980| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-1981|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-1981|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-1981|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-1981|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-1981|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-1981|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-1987|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-1981|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-1981|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-1987|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-1981| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-1981|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-1982|1300|null|    10|
+-----+------+---------+----+-----------+----+----+------+

+------+----------+--------+
|DEPTNO|     DNAME|LOCATION|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
|    20|  RESEARCH|  DALLAS|
|    30|     SALES| CHICAGO|
|    40|OPERATIONS|  BOSTON|
+------+----------+--------+

In [66]:
emp.join(dept,emp.DEPTNO == dept.DEPTNO,'inner').select(emp.EMPNO,emp.DEPTNO,dept.DEPTNO).show()

+-----+------+------+
|EMPNO|DEPTNO|DEPTNO|
+-----+------+------+
| 7369|    20|    20|
| 7499|    30|    30|
| 7521|    30|    30|
| 7566|    20|    20|
| 7654|    30|    30|
| 7698|    30|    30|
| 7782|    10|    10|
| 7788|    20|    20|
| 7839|    10|    10|
| 7844|    30|    30|
| 7876|    20|    20|
| 7900|    30|    30|
| 7902|    20|    20|
| 7934|    10|    10|
+-----+------+------+

In [67]:
emp.join(dept,emp.DEPTNO == dept.DEPTNO,'left').select(emp.EMPNO,emp.DEPTNO,dept.DEPTNO).show()

+-----+------+------+
|EMPNO|DEPTNO|DEPTNO|
+-----+------+------+
| 7369|    20|    20|
| 7499|    30|    30|
| 7521|    30|    30|
| 7566|    20|    20|
| 7654|    30|    30|
| 7698|    30|    30|
| 7782|    10|    10|
| 7788|    20|    20|
| 7839|    10|    10|
| 7844|    30|    30|
| 7876|    20|    20|
| 7900|    30|    30|
| 7902|    20|    20|
| 7934|    10|    10|
+-----+------+------+

In [70]:
emp.join(dept,emp.DEPTNO == dept.DEPTNO,'right').show()

+-----+------+---------+----+-----------+----+----+------+------+----------+--------+
|EMPNO| ENAME|      JOB| MGR|   HIREDATE| SAL|COMM|DEPTNO|DEPTNO|     DNAME|LOCATION|
+-----+------+---------+----+-----------+----+----+------+------+----------+--------+
| 7934|MILLER|    CLERK|7782|23-JAN-1982|1300|null|    10|    10|ACCOUNTING|NEW YORK|
| 7839|  KING|PRESIDENT|null|17-NOV-1981|5000|null|    10|    10|ACCOUNTING|NEW YORK|
| 7782| CLARK|  MANAGER|7839|09-JUN-1981|2450|null|    10|    10|ACCOUNTING|NEW YORK|
| 7902|  FORD|  ANALYST|7566|03-DEC-1981|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7876| ADAMS|    CLERK|7788|23-MAY-1987|1100|null|    20|    20|  RESEARCH|  DALLAS|
| 7788| SCOTT|  ANALYST|7566|19-APR-1987|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7566| JONES|  MANAGER|7839|02-APR-1981|2975|null|    20|    20|  RESEARCH|  DALLAS|
| 7369| SMITH|    CLERK|7902|17-DEC-1980| 800|null|    20|    20|  RESEARCH|  DALLAS|
| 7900| JAMES|    CLERK|7698|03-DEC-1981| 950|null|    30|    30|     SALES| CHICAGO|
| 7844|TURNER| SALESMAN|7698|08-SEP-1981|1500|   0|    30|    30|     SALES| CHICAGO|
| 7698| BLAKE|  MANAGER|7839|01-MAY-1981|2850|null|    30|    30|     SALES| CHICAGO|
| 7654|MARTIN| SALESMAN|7698|28-SEP-1981|1250|1400|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|22-FEB-1981|1250| 500|    30|    30|     SALES| CHICAGO|
| 7499| ALLEN| SALESMAN|7698|20-FEB-1981|1600| 300|    30|    30|     SALES| CHICAGO|
| null|  null|     null|null|       null|null|null|  null|    40|OPERATIONS|  BOSTON|
+-----+------+---------+----+-----------+----+----+------+------+----------+--------+

# leftsemi Vs leftanti 

leftsemi is exactly the left join but insted of fetching all columns from both tables, it shows only left table.

leftanti is exactly the opposit to the above. it will do the left join but it will shows columns from right table.

In [79]:
dept.join(emp,dept.DEPTNO == emp.DEPTNO, 'leftsemi').show()

+------+----------+--------+
|DEPTNO|     DNAME|LOCATION|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
|    20|  RESEARCH|  DALLAS|
|    30|     SALES| CHICAGO|
+------+----------+--------+

In [78]:
dept.join(emp,dept.DEPTNO == emp.DEPTNO, 'leftanti').show()

+------+----------+--------+
|DEPTNO|     DNAME|LOCATION|
+------+----------+--------+
|    40|OPERATIONS|  BOSTON|
+------+----------+--------+

# Sefl Join 

It is useful to work on hyrarchial tables

In [101]:
from pyspark.sql.functions import col
emp.alias('e').join(                                \
                    emp.alias('m'),                 \
                    col('e.MGR') == col('m.EMPNO'), \
                    'inner'                         \
                    )                               \
.select(
    col('e.EMPNO'),                                 \
    col('e.ENAME'),                                 \
    #col('e.MGR'),                                  \
    col('m.ENAME').alias('ManagerName')             \
).show()

emp.show()

+-----+------+-----------+
|EMPNO| ENAME|ManagerName|
+-----+------+-----------+
| 7369| SMITH|       FORD|
| 7499| ALLEN|      BLAKE|
| 7521|  WARD|      BLAKE|
| 7566| JONES|       KING|
| 7654|MARTIN|      BLAKE|
| 7698| BLAKE|       KING|
| 7782| CLARK|       KING|
| 7788| SCOTT|      JONES|
| 7844|TURNER|      BLAKE|
| 7876| ADAMS|      SCOTT|
| 7900| JAMES|      BLAKE|
| 7902|  FORD|      JONES|
| 7934|MILLER|      CLARK|
+-----+------+-----------+

+-----+------+---------+----+-----------+----+----+------+
|EMPNO| ENAME|      JOB| MGR|   HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+-----------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-1980| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-1981|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-1981|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-1981|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-1981|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-1981|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-1981|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-1987|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-1981|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-1981|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-1987|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-1981| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-1981|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-1982|1300|null|    10|
+-----+------+---------+----+-----------+----+----+------+